<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>



    <script>
        $(function() {
            $.getJSON("/_stuff", // Your AJAX route here
                function(data) {
                    $("#score").text(data.score);
                    $("#startTime").text(data.startTime)
                    $("#endTime").text(data.endTime)
                    $("#hintCount").text(data.hintCount)
                    $("#Hint").text(data.Hint)
                }
            );
            setTimeout(arguments.callee, 5000);
        })();
    </script>

    <meta charset="utf-8">
    <title>Scoreboard</title>

</head>

<body>
    <div style="margin:5px 10px 15px 20px">
        <p></p>{{ username }}</div>
    <div>
        <p>&nbsp;</p>
    </div>
    <div style="text-align:center">
        <b><font size="8">The score is </font> <font size="8" id=score> None</font></b>
    </div>


    <div style="margin:5px 10px 15px 20px">
        <p>&nbsp;</p>

        <form method="POST" action="token">
            <font size="5">Token &nbsp; &nbsp;</font>
            <input name="inputToken" size="50">&nbsp;&nbsp;&nbsp;
            <input type="submit" />
        </form>
        <font size="5">
            <p>Your start time is :
                <font size="5" id=startTime> None</font>
            </p>
        </font>

        <font size="5">
            <p>Your end time is :
                <font size="5" id=endTime> None</font>
            </p>
        </font>
    </div>


    <div style="margin:5px 10px 15px 20px">
        <p>&nbsp;</p>

        <form method="POST" action="getHint">
            <font size="5">Get a hint -->&nbsp; &nbsp;</font>
            <input type="submit" />
        </form>
        <font size="5">
            <p>Your hint is :
                <font size="5" id=Hint> None</font>
            </p>
        </font>
        <font size="5">
            <p>Your hine left :
                <font size="5" id=hintCount> None</font>
            </p>
        </font>
    </div>

    <div style="margin:20px 10px 15px 20px">
        <ol>
            <!-- For loop logic of jinja template -->
            {%for i in range(0, len)%}

            <li>{{username_all[i]}}</li>
            {%endfor%}
        </ol>
    </div>

</body>

</html>